*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar_1{
    height: 60px;
    background-color: #02404b;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    box-sizing: border-box;
}

/** First Box**/
.nav_logo{
    height: 56px;
    width: 100px;
}
.logo{
    background-image: url(/amazon_logo.png);
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}
/** second Box**/
.address{
    padding: 5px;
}
.add_part1{
    font-size: 0.95rem;
    color: #cccccc;
    margin-left: 15px;
}
.add_part2{
    font-size: 1rem;
    margin-left: 5px;
}
.addIcon{
    display: flex;
    align-items: center;

}
.addIcon i{
    font-size: 1.2rem;;
}
/** third Box**/
.searchBar{
    display: flex;
    width: 1000px;
    padding: 1px;

}
.mag{
    background-color: rgb(255, 202, 210);
    font-size: 1rem;
    height: 40px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.input_search{
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
}
.all_sec{
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    outline: none;
    background-color: #f3f3f3;
    width: 50px;

}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
    border-radius: 4px;
}
select{
    outline: none;
}
.dark{
    font-size: 1rem;
    font-weight: 1000;
}
.cart{
    display: flex;
    align-items: flex-end;
    padding: 6px;
}
.cart i{
    font-size: 2.3rem;
}
.sign-in{
    padding: 5px;
}
.returns{
    padding: 5px;
}

/* navbar #2 */
.navbar_2{
    display: flex;
    background-color: #00333b;
    color: white;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
}
.panelopts{
    display: flex;
    width: 85%;
    font-size: 1.2rem;
}
.panelopts p{
    /* padding-left: 17px; */
    padding: 5px 5px 5px 17px;
}
/* herosection */
.herosection{
    background-image: url(/img_background.jpg);
    height: 500px;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;

}

.heroText{
    background-color: white;
    display: flex;
    text-align: center;
    height: 40px;
    align-self: flex-end;
    justify-content: center;
    width: 70%;
    font-size: 1.01rem;
    box-sizing: border-box;
    padding-top: 9px;
    border-radius: 7px;
    font-weight: 400;
}
.herosection a{
    text-decoration: none;
    color: #0092af;


}
.herosection a:hover{
    text-decoration: underline;

}
.herosection p{
    color: black;
}
.navbar_2 a{
    text-decoration: none;
    color: white;
}



/* porducts */
.products{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(255, 215, 221);
    height: 1000px;
    flex-wrap: wrap;
}
.product {
    width: 23%;
    height: 400px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.proimg1{
    background-image: url(/img_02.jpg);
    height: 320px;
    width: 320px;
    background-image: cover;
    background-repeat: no-repeat;
    
}
.proimg2{
    background-image: url(/img_03.jpg);
    height: 320px;
    width: 320px;
    background-image: cover;
    background-repeat: no-repeat;
}

.proimg3{
    background-image: url(/img_06.jpg);
    height: 320px;
    width: 320px;
    background-image: cover;
    background-repeat: no-repeat;
}

.proimg4{
    background-image: url(/img_05.jpg);
    height: 320px;
    width: 320px;
    background-image: cover;
    background-repeat: no-repeat;
}
.proimg5{
    background-image: url(/img_10.jpg);
    height: 320px;
    width: 320px;
    background-image: cover;
    background-repeat: no-repeat;
    
}
.proimg6{
    background-image: url(/img_07.jpg);
    height: 320px;
    width: 320px;
    background-image: cover;
    background-repeat: no-repeat;
}

.proimg7{
    background-image: url(/img_08.jpg);
    height: 320px;
    width: 320px;
    background-image: cover;
    background-repeat: no-repeat;
}

.proimg8{
    background-image: url(/img_09.jpg);
    height: 320px;
    width: 320px;
    background-image: cover;
    background-repeat: no-repeat;
}
.product1 h2{
    text-align: center;
}

.product2 h2{
    text-align: center;

}
.product3 h2{
    text-align: center;

} 
.product4 h2{
    text-align: center;
    
}

.backtotop{
    background-color: #02404b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.backtotop a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.foot1{
    background-color: #00333b;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    height: 400px;
}
.div1{
    padding-top: 50px;
}
.div1 p{
    margin-top: 20px;

}
